.App {
  text-align: center;
 
}
* {
  box-sizing: border-box;
  
}
.container{
  display: flex;
  flex-direction: column;
  align-content: center;
  
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.image {
  display: flex;
 
  align-content: center;
  width: 100%;
height: 100%;

}
